*{
	margin:0;
	padding:0;
}

body{
	font-family: 'Noto Sans', sans-serif;
}


.container-grid{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: auto auto auto auto 100px;
	grid-template-areas: "image image image"
						 "main main main"
						 "reviews reviews reviews"
						 "contact contact contact"
						 "footer footer footer";
	
}



.header {
	background: rgba(0, 0, 0, 0.7);
 	backdrop-filter: blur(1px);
	display: flex;
	justify-content: center;
	position: absolute;
	left: 25%;
	right: 25%;
	top: 10px;
	width: 50%;
	margin: auto auto;
}


.menu a {
	transition: ease 1s all;
}

.menu a:hover {
	transform: scale(1.1,1.1);
}

.carousel{
	grid-area: image;
	
}

.carousel-image{
	max-height: 650px;
}

.d-md-block {
	width: -50%;
	height: auto;
	background: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(1px);
  }




main{
	grid-area: main;
	margin-bottom: 100px;
}

main > .container{
	margin-top: 100px;
}


.container-dollar{
	display: flex;
	justify-content: space-between;
}

.card{
	width: 300px;
	height: 150px;
	text-align: center;
}



.color-card{
	background-color: #056dae;
	color:#056dae;
}


.separator{
	width: 100%;
	height: 1px;
	background: rgb(88, 86, 86);
	margin: 150px auto;
}

.titulo-simulador{
	margin-top:100px;
}


.title{
	color:rgb(88, 86, 86);
}

.contact-form-loan{
	width: 60%;
	margin-bottom: 100px; 
}

.contact-form-loan input[type="text"]{
	width: 80%;
}

.field-container-form{
	display: flex;
	flex-direction: row-reverse;
	justify-content: start;
}


.container-reviews{
	grid-area:reviews;
	width: 100%;
	min-height: 500px;
	background-color: #056dae;
	text-align: center;
	margin-bottom: 100px;
}

.container-reviews > .container{
	display: flex;
	justify-content: space-between;
}

.image-review{
	width: 100%;
	max-width: 200px;
	margin: 20px auto;
}


.title-reviews{
	font-weight: bold;
	color:white;
	padding: 50px 20px;
}

.container-reviews .container .card{
	width: 300px;
	height: 227px;
	text-align: center;
}

.divform{
	grid-area: contact;
	text-align: center;
}

.form-title{
	color: #056dae;
	font-size: bold;
	padding: 50px 20px;
	font-size: 3rem;
	margin-top: 100px;
	text-align: center;
}

.subcontainer{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 100px;
}

.contact-form{
	width: 60%;
	margin-bottom: 100px; 
}

.contact-form input[type="email"], input[type="tel"], input[type="text"]{
	width: 70%;
	padding: 10px 20px;
	margin:10px 20px;
}

.fa-solid{
	font-size: 30px;
	color:#056dae;
	vertical-align: top;
	padding: 5px;
}

.contact-form textarea{
	width: 70%;
	height: 250px;
	padding: 10px 20px;
	margin:10px 10px;
}
.form-image{
	width: 40%;
}

.form-image img{
	width: 100%;
}

form input[type="submit"]{
	display: block;
	padding: 10px 30px;
	background-color: #056dae;
	color:white;
	border-radius: 10px;
	border: none;
	margin:10px auto;
}


footer{
	grid-area: footer;
	background: #056dae;
	color:white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}


@media screen and (max-width:1024px){
	.container-dollar{
		width: 100%;
	}

	.container-dollar .card{
		width: 30%;
		height: 150px;
		text-align: center;
	}

	.container{
		width: 100%;
	}

	.container-dollar{
		width: 100%;
	}

	.container-reviews .container {
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		padding: 50px 10px;
	}

	.container-reviews .container .card{
		height: 230px;
		margin:30px 0px;
	}

	.form-image{
		display: none	;
	}

	.contact-form{
		width: 100%;
	}
}