*{
	margin:0;
	padding:0;
}

body{
	font-family: 'Noto Sans', sans-serif;
}


.container-grid{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: minmax(200px, 650px) auto 500px 500px 70px;
	grid-template-areas: "image image image"
						 "main main main"
						 "reviews reviews reviews"
						 "form form form"
						 "footer footer footer";
	
}



.header {
	background: rgba(0, 0, 0, 0.7);
 	backdrop-filter: blur(1px);
	display: flex;
	justify-content: center;
	position: absolute;
	left: 25%;
	right: 25%;
	top: 10px;
	width: 50%;
	margin: auto auto;
}


.menu a {
	transition: ease 1s all;
}

.menu a:hover {
	transform: scale(1.1,1.1);
}

.carousel{
	grid-area:image;
	
}

.carousel-image{
	max-height: 650px;
}

.d-md-block {
	width: -50%;
	height: auto;
	background: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(1px);
  }




main{
	grid-area: main;
}

main > .container{
	margin-top: 100px;
}


.container-dollar{
	display: flex;
	justify-content: space-between;
}

.card{
	min-width: 300px;
	min-height: 200px;
}
.titulo-simulador{
	margin-top:100px;
}


.title{
	color:rgb(88, 86, 86)
}




.container-reviews{
	grid-area:reviews;
	width: 100%;
	height: 500px;
	background-color: #056dae;
	text-align: center;
	margin-bottom: 100px;
}

.container-reviews > .container{
	display: flex;
	justify-content: space-evenly;
}

.image-review{
	width: 200px;
	margin: 20px auto;
}


.title-reviews{
	font-weight: bold;
	color:white;
	padding: 50px 20px;
}

.div-form{
	grid-area: form;
	display: flex;
	flex-direction: row;
	width: 100%;
}

form{
	width: 50%;
}

.form-image{
	width: 50%;
}

.form-image img{
	width: 100%;
}












footer{
	grid-area: footer;
	background: #056dae;
	color:white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}